.about-sublime {
    background-color: $white;
    .about__body {
        padding-top: 2.25rem;
        @media #{$max-screen-sm} {
            padding-top: 0rem;
        }
        .about__title {
            border-right: 1px solid $light-grey;
            @media #{$max-screen-xl} {
                border-right: none;
            }
            h1 {
                font-size: 30px;
                font-weight: 600;
                color: $dim-gray;
                height: 35px;
                &:first-letter {
                    font-size: 50px;
                }
                @media #{$max-screen-xl} {
                    text-align: center;
                }
            }
            .about__subtitle {
                @extend %first_letter;
                @media #{$max-screen-xl} {
                    text-align: center;
                }
                span {
                    height: 55px;
                    font-size: 80px;
                    font-weight: 600;
                }
            }
        }
        .about__text {
            @media #{$max-screen-xl} {
                text-align: center;
            }
            span {
                color: $zambezi;
                font-weight: 300;
            }
        }

        .about__items {
            margin-top: 4.5rem;
            @media #{$max-screen-xs} {
                margin-top: 4rem;
            }
            .app__img {
                display: flex;
                justify-content: center;
                margin: auto;
                width: 50px;
                height: 50px;
                border: solid 2px $golden-poppy;
                background-color: $whisper;
                border-radius: 50%;
                img {
                    padding: 13px 7px;
                }
            }
            .app__title {
                margin-top: 1.5rem;
                h4 {
                    font-size: 18px;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .app__text {
                font-size: 14px;
                font-weight: 300;
                text-align: center;
            }
            .game__design {
                @media #{$max-screen-xs} {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        .col-xs-12 {
            @media #{$max-screen-xs} {
                width: 100%;
            }
        }
    }
}

.featured-projects {
    background-color: $white;
    overflow: hidden;
    .featured__title {
        padding-top: 7rem;
        @media #{$max-screen-sm} {
            padding-top: 5rem;
        }
        h1 {
            font-size: 45px;
            font-weight: 600;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            @media #{$max-screen-xl} {
                text-align: center;
            }
            @media #{$max-screen-xs} {
                font-size: 44px;
            }
            @media all and (max-width: 320px) {
                font-size: 36px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .nav {
        @media #{$max-screen-xl} {
            justify-content: center;
        }
        .nav-item {
            a {
                font-size: 15px;
                color: $black;
                &:hover {
                    text-decoration: underline;
                    color: $golden-poppy;
                }
            }
        }
    }
    .container-lg {
        max-width: 1320px;
        .games {
            margin-top: 2rem;
            &:last-child {
                margin-top: 3px;
                padding-bottom: 5rem;
            }
            .item__games {
                img {
                    width: 100%;
                    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 10px 30px 15px black;
                        z-index: 2;
                        position: relative;
                    }
                }
            }
            .padding-none {
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }
}

.strategic-process {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $white;
    @media #{$max-screen-sm} {
        padding-top: 0rem;
    }
    .strategic__title {
        h1 {
            font-size: 45px;
            font-weight: 600;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            @media #{$max-screen-xl} {
                text-align: center;
            }
            @media all and (max-width: 320px) {
                font-size: 37px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .strategic__text {
        @media #{$max-screen-xl} {
            text-align: center;
        }
        i {
            color: $black;
        }
        span {
            font-size: 16px;
            font-weight: 300;
            color: $zambezi;
        }
    }
    .strategy__items {
        margin-top: 3rem;
        .method {
            @media #{$max-screen-lg} {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .strategy__img {
            @media #{$max-screen-md} {
                order: 1;
            }
            img {
                @media #{$max-screen-lg} {
                    width: 100%;
                }
            }
        }
        .strategy__info {
            @media #{$max-screen-md} {
                order: 2;
            }
            .strategy__title {
                margin-top: 1.813rem;
                margin-bottom: 2rem;
                @media #{$max-screen-lg} {
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                }
                @media #{$max-screen-md} {
                    text-align: center;
                }
                h4 {
                    font-size: 40px;
                    font-weight: 600;
                    &:first-letter {
                        font-size: 50px;
                    }
                    span {
                        font-size: 45px;
                    }
                }
            }
            .strategy__text {
                @media #{$max-screen-md} {
                    text-align: center;
                }
                p {
                    color: $black;
                    font-weight: 300;
                    font-size: 16px;
                    @media #{$max-screen-lg} {
                        margin-bottom: 0rem;
                    }
                }
                span {
                    font-size: 16px;
                    font-weight: 300;
                    color: $zambezi;
                }
            }
        }
    }
}

.services {
    background: url(../../../img/services/Layer\ 25.png) 0 0 / cover no-repeat;
    height: 500px;
    @media #{$max-screen-lg} {
        height: 400px;
    }
    @media #{$max-screen-md} {
        height: 500px;
    }
    @media #{$max-screen-sm} {
        height: auto;
    }
    .services__title {
        padding-top: 4rem;
        @media #{$max-screen-xl} {
            padding-top: 2rem;
        }
        @media #{$max-screen-sm} {
            padding-top: 1rem;
            text-align: center;
        }
        h1 {
            font-size: 45px;
            font-weight: 600;
            color: $white;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            @media #{$max-screen-xl} {
                text-align: center;
            }
            @media #{$max-screen-xs} {
                font-size: 44px;
            }
            @media all and (max-width: 372px) {
                font-size: 40px;
            }
            @media all and (max-width: 320px) {
                font-size: 36px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .sevices__info {
        margin-top: 10rem;
        @media #{$max-screen-xl} {
            margin-top: 2rem;
        }
        @media #{$max-screen-lg} {
            margin-top: 1rem;
        }
        @media #{$max-screen-sm} {
            margin-top: 0rem;
            text-align: center;
        }
        .info__body {
            .info__title {
                margin-bottom: 1.625rem;
                margin-top: 4rem;
                &:first-child {
                    margin-top: 0rem;
                }
                @media #{$max-screen-xl} {
                    margin-top: 2rem;
                }
                @media #{$max-screen-lg} {
                    margin-top: 1rem;
                    margin-bottom: 0rem;
                }

                h4 {
                    font-weight: 700;
                    color: $white;
                }
            }
            .info__text {
                span {
                    color: $white;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}

.our-team {
    background-color: $white;
    margin-bottom: 7rem;
    .team__title {
        padding-top: 6rem;
        @media #{$max-screen-md} {
            padding-top: 6rem;
        }
        @media #{$max-screen-sm} {
            padding-top: 4rem;
        }
        h1 {
            font-size: 45px;
            font-weight: 600;
            color: $black;
            @extend %first_letter;
            @media #{$max-screen-xl} {
                text-align: center;
            }
            &:first-letter {
                font-size: 60px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .team__info {
        padding-top: 5rem;
        @media #{$max-screen-xl} {
            padding-top: 2rem;
            text-align: center;
        }
        p {
            color: $black;
            font-size: 16px;
        }
        span {
            font-size: 18px;
            font-weight: 300;
            color: $zambezi;
        }
    }
    .founders {
        margin-top: 2.5rem;
        img {
            @media #{$max-screen-xs} {
                width: 100%;
            }
        }
        .ceo {
            @media #{$max-screen-lg} {
                margin-bottom: 20px;
            }
        }
        .founder__name {
            text-align: center;
            transform: translateX(-10px);
            span {
                color: $black;
                font-weight: 400;
                font-size: 16px;
            }
        }
        .founder__position {
            text-align: center;
            transform: translateX(-10px);
            i {
                color: $zambezi;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

.testimonials {
    background-color: $black;
    .testimonial__body {
        padding-bottom: 7rem;
        .testimonial__title {
            padding-top: 3.5rem;
            h1 {
                font-size: 45px;
                font-weight: 600;
                color: $white;
                @extend %first_letter;
                &:first-letter {
                    font-size: 60px;
                }
                span {
                    font-size: 55px;
                }
            }
        }
        .testimonial__text {
            margin-top: 4rem;
            p {
                color: $white;
                font-size: 16px;
            }
            span {
                font-size: 18px;
                font-weight: 300;
                color: $white;
            }
        }
        .col-xs-12 {
            @media #{$max-screen-xs} {
                width: 100%;
            }
        }
        .testimonial__person {
            .testimonail__img {
                display: flex;
                justify-content: center;
                background-color: $black;
                overflow: overlay;
                img {
                    padding: 5px;
                    border: solid 3px $golden-poppy;
                    border-radius: 50%;
                }
            }
            .testimonial__name {
                text-align: center;
                margin-top: 1rem;
                span {
                    color: $white;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .testimonial__position {
                text-align: center;
                i {
                    color: $white;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
        .col-xs {
            @media #{$max-screen-xs} {
                width: -webkit-fill-available;
                margin-top: 15px;
            }
        }
    }
}

.blogs {
    background-color: $white;
    overflow: hidden;
    .blog__body {
        padding-bottom: 7rem;
        .blog__title {
            padding-top: 3.75rem;
            @media #{$max-screen-md} {
                text-align: center;
            }
            h1 {
                font-size: 40px;
                font-weight: 600;
                color: $black;
                @extend %first_letter;
                &:first-letter {
                    font-size: 50px;
                }
            }
        }
        .navbar {
            padding-top: 11rem;
            @media #{$max-screen-lg} {
                padding-top: 0rem;
            }
            .flex-no-column {
                @media #{$max-screen-lg} {
                    flex-direction: row !important;
                }
                @media #{$max-screen-md} {
                    justify-content: center;
                }
            }
            .nav-item {
                a {
                    font-size: 18px;
                    color: $black;
                    @media #{$max-screen-lg} {
                        font-size: 16px;
                    }
                    &:hover {
                        color: $golden-poppy;
                    }
                }
            }
        }
        .blog__items {
            padding-top: 3.75rem;
            .items__body {
                &:nth-child(2) {
                    @media #{$max-screen-md} {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                .item__img {
                    img {
                        @media #{$max-screen-md} {
                            width: 100%;
                        }
                        @media #{$max-screen-sm} {
                            height: 450px;
                        }
                        @media all and (max-width: 320px) {
                            height: auto;
                        }
                    }
                }
                .item__date {
                    margin-top: 10px;
                    font-size: 18px;
                    color: $golden-poppy;
                    @media #{$max-screen-md} {
                        text-align: center;
                    }
                }
                .item__title {
                    font-size: 15px;
                    font-weight: bold;
                    @media #{$max-screen-md} {
                        text-align: center;
                    }
                }
                .item__text {
                    margin-top: -5px;
                    width: 200px;
                    @media #{$max-screen-md} {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
        .padding-none {
            @media #{$max-screen-sm} {
                --bs-gutter-x: 0;
            }
        }
    }
}

.contact-us {
    .contact__body {
        height: 685px;
        .map {
            background: url(../../img/contact/layer-52.png) 0 0 / auto 100% no-repeat;
            height: 685px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$max-screen-xs} {
                order: 2;
                display: none;
            }
            .label {
                color: $white;
                background-color: $black;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid $golden-poppy;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .contact__form {
            background-color: $persian-blue;
            @media #{$max-screen-xs} {
                order: 1;
                width: 100%;
            }
        }
        .contact__title {
            padding-top: 3.25rem;
            text-align: center;
            h1 {
                font-size: 45px;
                font-weight: 600;
                color: $white;
                @extend %first_letter;
                &:first-letter {
                    font-size: 60px;
                }
                span {
                    font-size: 55px;
                }
            }
        }
        .form {
            width: 70%;
            margin: auto;
            ::placeholder {
                font-size: 16px;
                font-weight: 600;
                color: $white;
            }
            input {
                background: transparent;
                border: 2px solid $white;
                border-radius: 0px;
                margin-top: 1rem;
                color: $white;
                font-size: 16px;
                letter-spacing: 1px;
            }
            textarea {
                background: transparent;
                border: 2px solid $white;
                border-radius: 0px;
                margin-top: 1rem;
                height: 100px;
                resize: none;
                color: $white;
                font-size: 16px;
                letter-spacing: 1px;
            }
            .button {
                margin-top: 2rem;
            }
            .btn {
                max-width: 110px;
                width: 100%;
                height: 35px;
                border-radius: 0px;
                background-color: $golden-poppy;
            }
            .btn-info {
                font-size: 16px;
                font-weight: 600;
                color: $black;
            }
        }
        .contact__info {
            width: 70%;
            margin: auto;
            margin-top: 4rem;
            @media #{$max-screen-xl} {
                margin-top: 2rem;
            }
            .info__title {
                color: $white;
                h4 {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .contact__links {
                color: $white;
                padding-left: 0rem;
                letter-spacing: 1px;
                margin-top: 2.25rem;
                span {
                    font-size: 13px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-left: 1.4rem;
                    color: $white;
                }
                a {
                    font-size: 13px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-left: 2rem;
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .email {
                    margin-left: 2.3rem;
                }
            }
        }
        .social__links {
            width: 70%;
            margin: auto;
            border-top: 2px solid $light-grey;
            margin-top: 4.25rem;
            @media #{$max-screen-xl} {
                margin-top: 0rem;
            }
            img {
                padding-top: 1rem;
            }
        }
    }
}
