.about-sublime {
    background-color: $white;
    .about__body {
        padding-top: 2.25rem;
        .about__title {
            border-right: 1px solid $light-grey;
            h1 {
                font-size: 30px;
                font-weight: 600;
                color: $dim-gray;
                height: 35px;
                &:first-letter {
                    font-size: 50px;
                }
            }
            .about__subtitle {
                @extend %first_letter;
                span {
                    height: 55px;
                    font-size: 80px;
                    font-weight: 600;
                }
            }
        }
        .about__text {
            span {
                color: $zambezi;
                font-weight: 300;
            }
        }

        .about__items {
            margin-top: 4.5rem;
            .app__img {
                display: flex;
                justify-content: center;
                margin: auto;
                width: 50px;
                height: 50px;
                border: solid 2px $golden-poppy;
                background-color: $whisper;
                border-radius: 50%;
                img {
                    padding: 13px 7px;
                }
            }
            .app__title {
                margin-top: 1.5rem;
                h4 {
                    font-size: 18px;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .app__text {
                font-size: 14px;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}

.featured-projects {
    background-color: $white;
    overflow: hidden;
    .featured__title {
        padding-top: 7rem;
        h1 {
            font-size: 45px;
            font-weight: 600;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .nav-item {
        a {
            font-size: 15px;
            color: $black;
            &:hover {
                text-decoration: underline;
                color: $golden-poppy;
            }
        }
    }
    .container-lg {
        max-width: 1320px;
        .games {
            margin-top: 2rem;
            &:last-child {
                margin-top: 3px;
                padding-bottom: 5rem;
            }
            .item__games {
                img {
                    width: 100%;
                    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 10px 30px 15px black;
                        z-index: 2;
                        position: relative;
                    }
                }
            }
            .padding-none {
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }
}

.strategic-process {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $white;
    .strategic__title {
        h1 {
            font-size: 45px;
            font-weight: 600;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .strategic__text {
        i {
            color: $black;
        }
        span {
            font-size: 16px;
            font-weight: 300;
            color: $zambezi;
        }
    }
    .strategy__items {
        margin-top: 3rem;
        .strategy__info {
            .strategy__title {
                margin-top: 1.813rem;
                margin-bottom: 2rem;
                h4 {
                    font-size: 40px;
                    font-weight: 600;
                    &:first-letter {
                        font-size: 50px;
                    }
                    span {
                        font-size: 45px;
                    }
                }
            }
            .strategy__text {
                p {
                    color: $black;
                    font-weight: 300;
                    font-size: 16px;
                }
                span {
                    font-size: 16px;
                    font-weight: 300;
                    color: $zambezi;
                }
            }
        }
    }
}

.services {
    background: url(../../../img/services/Layer\ 25.png) 0 0/100% auto no-repeat;
    height: 500px;
    .services__title {
        padding-top: 4rem;
        h1 {
            font-size: 45px;
            font-weight: 600;
            color: $white;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .sevices__info {
        margin-top: 10rem;
        .info__body {
            .info__title {
                margin-bottom: 1.625rem;
                margin-top: 4rem;
                &:first-child {
                    margin-top: 0rem;
                }
                h4 {
                    font-weight: 700;
                    color: $white;
                }
            }
            .info__text {
                span {
                    color: $white;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }
    }
}

.our-team {
    background-color: $white;
    margin-bottom: 7rem;
    .team__title {
        padding-top: 6rem;
        h1 {
            font-size: 45px;
            font-weight: 600;
            color: $black;
            @extend %first_letter;
            &:first-letter {
                font-size: 60px;
            }
            span {
                font-size: 55px;
            }
        }
    }
    .team__info {
        padding-top: 5rem;
        p {
            color: $black;
            font-size: 16px;
        }
        span {
            font-size: 18px;
            font-weight: 300;
            color: $zambezi;
        }
    }
    .founders {
        margin-top: 2.5rem;
        .founder__name {
            text-align: center;
            transform: translateX(-10px);
            span {
                color: $black;
                font-weight: 400;
                font-size: 16px;
            }
        }
        .founder__position {
            text-align: center;
            transform: translateX(-10px);
            i {
                color: $zambezi;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

.testimonials {
    background-color: $black;
    .testimonial__body {
        .testimonial__title {
            padding-top: 3.5rem;
            h1 {
                font-size: 45px;
                font-weight: 600;
                color: $white;
                @extend %first_letter;
                &:first-letter {
                    font-size: 60px;
                }
                span {
                    font-size: 55px;
                }
            }
        }
        .testimonial__text {
            margin-top: 4rem;
            p {
                color: $white;
                font-size: 16px;
            }
            span {
                font-size: 18px;
                font-weight: 300;
                color: $white;
            }
        }
        .testimonial__person {
            .testimonail__img {
                display: flex;
                justify-content: center;
                background-color: $black;
                overflow: overlay;
                img {
                    padding: 5px;
                    border: solid 3px $golden-poppy;
                    border-radius: 50%;
                }
            }
            .testimonial__name {
                text-align: center;
                margin-top: 1rem;
                span {
                    color: $white;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .testimonial__position {
                text-align: center;
                i {
                    color: $white;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }
    }
}
