// 1. Colors
// ========================================
$white: #fff;
$black: #000;
$golden-poppy: #ffc600;
// 2. Breakpoints
// ========================================
$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1199.98px;

$max-screen-sm: "all and (max-width: #{$screen-sm})";
$max-screen-md: "all and (max-width: #{$screen-md})";
$max-screen-lg: "all and (max-width: #{$screen-lg})";
$max-screen-xl: "all and (max-width: #{$screen-xl})";
